.u-section-1 {
  background-image: url("images/189171662-0.jpeg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 1485px;
}

.u-section-1 .u-image-1 {
  width: 442px;
  height: 289px;
  object-position: 40.51% 0%;
  animation-duration: 1000ms;
  margin: 61px auto 0 -18px;
}

.u-section-1 .u-text-1 {
  background-image: none;
  font-family: Sunshiney;
  font-size: 3.75rem;
  animation-duration: 1000ms;
  margin: -289px 110px 0 661px;
}

.u-section-1 .u-text-2 {
  font-size: 3rem;
  animation-duration: 1000ms;
  margin: 28px -25px 0 508px;
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  font-size: 2.25rem;
  animation-duration: 1000ms;
  margin: 193px 683px 0 0;
}

.u-section-1 .u-text-4 {
  font-weight: 700;
  font-size: 2.25rem;
  animation-duration: 1000ms;
  margin: -39px 172px 0 648px;
}

.u-section-1 .u-image-2 {
  width: 495px;
  height: 146px;
  animation-duration: 1000ms;
  object-position: 0% 50%;
  margin: 15px auto 0 0;
}

.u-section-1 .u-image-3 {
  width: 551px;
  height: 216px;
  animation-duration: 1000ms;
  object-position: 0% 50%;
  margin: -146px 19px 0 auto;
}

.u-section-1 .u-text-5 {
  font-weight: 700;
  font-size: 2.25rem;
  animation-duration: 1000ms;
  width: 457px;
  margin: 30px auto 0;
}

.u-section-1 .u-image-4 {
  width: 510px;
  height: 185px;
  animation-duration: 1000ms;
  object-position: 0% 50%;
  margin: 26px auto 0;
}

.u-section-1 .u-text-6 {
  font-weight: 700;
  font-size: 2.25rem;
  animation-duration: 1000ms;
  width: 308px;
  margin: 17px auto 0;
}

.u-section-1 .u-video-1 {
  width: 575px;
  height: 380px;
  margin: 28px auto 49px;
}

.u-section-1 .embed-responsive-1 {
  position: absolute;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1224px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 10px;
    margin-left: 561px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 408px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 483px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 72px;
    margin-left: 548px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 938px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
    margin-left: 351px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 298px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 263px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 0;
    margin-left: 400px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1229px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 171px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 208px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 83px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 220px;
  }

  .u-section-1 .u-image-3 {
    width: 540px;
    height: 212px;
    margin-right: 0;
  }

  .u-section-1 .u-video-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 546px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 222px;
    margin-left: 0;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
    margin-top: -222px;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
  }

  .u-section-1 .u-text-4 {
    margin-left: 20px;
  }

  .u-section-1 .u-image-2 {
    width: 340px;
    height: 100px;
  }

  .u-section-1 .u-image-3 {
    width: 340px;
    height: 133px;
    margin-top: -100px;
  }

  .u-section-1 .u-text-5 {
    width: 340px;
  }

  .u-section-1 .u-image-4 {
    width: 340px;
    height: 123px;
  }

  .u-section-1 .u-video-1 {
    width: 340px;
  }
}